
body {
  margin: 0;
  padding: 0;
  background-color: #4dbaf3;
  color: #d0d3d4;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}
li{ list-style: none; }
#inner{
  width: 60%;
  margin-left: 20%;
}
header{ 
	color: white;
	height: 100px;
	line-height: 100px;
	font-size: 40px;
	background-color: #1987c1;
	margin-left: -33.3%;
	padding-left: 33.3%;
	margin-right: -33.3%;
	padding-right: 33.3%;
}
section{
	display: block;
	
}
section.information{
	height: 200px;
	border-bottom: 1px dashed #aba6a6;
}
ul{
	padding: 0;
}
section.top{
	height: 70px;
	line-height: 70px;
	font-size: 25px;
	color: white; 
	border-bottom: 1px dashed #aba6a6;
}
section.left{
	display: inline-block;
}
section.right{
	display: inline-block;
	float: right;
}
section.introduce{
	height: 220px;
	border-bottom: 1px dashed #aba6a6;
}
section.skill{
	height: 170px;
	border-bottom: 1px dashed #aba6a6;
}
section.experience{
	height: 150px;
	border-bottom: 1px dashed #aba6a6;
}
section.habit{
	height: 120px;
	border-bottom: 1px dashed #aba6a6;
}
